<!-- first navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-main fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img class="navbar-logo" src="./assets/corelia-logo.png">
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <form class="d-flex">
          <input class="form-control me-2 navbar-search" type="search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
        <img style="margin-left: 2rem;" src="./assets/message.png">
        <span style="margin-left: 2rem; color: white;">|</span>
        <img style="margin-left: 2rem; width: 25px;" src="./assets/notification.png">
      </div>
      <img src="./assets/profile-empty.png">
    </div>
    
  </nav>
<!-- second navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-side fixed-top">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Alert</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Estate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Configuration</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>