<div class="container">
    <div class="row configuration-header p-4 mt-3">
        <div class="col-12">
            <span style="font-weight: bolder; font-size: larger;">Configuration</span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <div>
                <span class="setting-groupTitle">Monitoring</span>
            </div>
            <br>
            <div>
                <span class="improved-sign">Improved</span> 
                <a routerLink="/monitor">Monitored servers</a>
            </div>
            <div>
                <span>Add servers to monitor, edit connection credentials, remove or suspend monitored servers, configure maintenance windows</span>
            </div>
            <div>
                <a href="">VMware hosts</a>
            </div>
            <div>
                <span>Configure Vitware hosts for monitoring</span>
            </div>
            <div>
                <a href="">Trace</a>
            </div>
            <div>
                <span>Enable or disable Profile: trace on selected servers.</span>
            </div>
            <div>
                <a href="">Extended Events</a>
            </div>
            <div>
                <span>Enable or disable extended events for advanced alerting</span>
            </div>
            <div>
                <a href="">Groups</a>
            </div>
            <div>
                <span>Organize your monitored servers into groups.</span>
            </div>
            <div>
                <span class="setting-groupTitle">Application options</span>
                <br>
            </div>
            <div>
                <a href="">Authentication settings</a>
            </div>
            <div>
                <span>Set authentication preferences for SQL Monitor</span>
            </div>
            <div>
                <a href="">Base monitor connections</a>
            </div>
            <div>
                <span>View details of your base monitor connections, connect in different base numbers</span>
            </div>
            <div>
                <a href="">Display settings</a>
            </div>
            <div>
                <span>Get user display Preferences for SOL Monitor</span>
            </div>
        </div>
        <div class="col-6">
            <div>
                <span class="setting-groupTitle">Alerts and metrics</span>
            </div>
            <div>
                <a href="">Alert settings</a>
            </div>
            <div>
                <span>Enable and disable alert types, change alert thresholds and levels</span>
            </div>
            <div>
                <a href="">Notification settings</a>
            </div>
            <div>
                <span>Set up and manage notification for alerts (mail/Slack/SNMP/Webhook/LvmiLog)</span>
            </div>
            <div>
                <a href="">Custom metrics</a>
            </div>
            <div>
                <span>Create and manage custom metrics and custom alerts</span>
            </div>
            <div>
                <a href="">Alert suppression</a>
            </div>
            <div>
                <span>Create scheduled or one-off after suppression windows (formerly maintenance windows)</span>
            </div>
            <div>
                <span class="setting-groupTitle">Data Management</span>
            </div>
            <div>
                <br>
                <span class="improved-sign">Improved</span> 
                <a routerLink="/dataSetting">Data settings</a>
            </div>
            <div>
                <span>Specify how long SOL Monitor keeps historic data in its Data Repository</span>
            </div>
            <div>
                <span class="setting-groupTitle">Licensing</span>
            </div>
            <div>
                <a href="">Licensing</a>
            </div>
            <div>
                <span>Apply serial keys and allocate licenses to your servers.</span>
            </div>
            <div>
                <span class="setting-groupTitle">About</span>
            </div>
            <div>
                <a href="">About</a>
            </div>
            <div>
                <span>View information about SOL Monitor components</span>
            </div>
        </div>

    </div>
</div>
