<div class="container mt-2">
    <div class="row">
        <div class="col-10">
            <div>
                <span style="font-weight: bold;">Compression</span>    
            </div>
            <div>
                <span style="color:#6B6877;">Enabling Compression saves disk space by over fifty percent on average , reduces memory usage, and improves performance.</span>    
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-secondary mt-2">Estimate data compression savings</button>
            <button style="margin-left: 15px;" class="btn btn-primary mt-2">Enable data compression </button>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div>
                <span style="font-weight: bold;">Performance</span> 
            </div>
            <div>
                <span style="color:#6B6877;">Enabling SQL Server features can improve speed and responsiveness.</span>
            </div>
            <div class="mt-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label style="color:#6B6877;" class="form-check-label" for="flexCheckDefault">
                    Delayed durability
                </label>
            </div>
            <div class="mt-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label style="color:#6B6877;" class="form-check-label" for="flexCheckDefault">
                    Query optimizer hot fixes
                </label>
            </div>
            <div class="mt-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label style="color:#6B6877;" class="form-check-label" for="flexCheckDefault">
                    Automatic query tuning
                </label>
            </div>
            <div class="mt-2">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label style="color:#6B6877;" class="form-check-label" for="flexCheckDefault">
                    Batch mode for row store
                </label>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div>
                <span style="font-weight: bold;">Data Retention</span> 
            </div>
            <div>
                <span style="color:#6B6877;">Adjusting how long historical data is retained for will affect the total data size.</span>    
            </div>
        </div>
    </div>
    <div style="padding: 5px;" class="row alert">
        <div class="col-12">
            <img src="./assets/danger-blue.png">
            Only select “ indefinitely “ if you’re sure you have enough disk space to store all collection data. Total size on disk: 6.87 GB
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div>
                <span style="font-weight: bold;">Trend Data</span> 
            </div>
            <div>
                <br>
                <span style="color:#6B6877;" class="mt-4">Data used to analyze long term performance and provide performance baselines.</span>    
            </div>
        </div>
    </div>
    <div style="border-bottom: 1px solid black;" class="row mt-4 p-4">
        <div class="col-2">
            <span class="table-title">Data type</span>
        </div>
        <div class="col-3">
            <span class="table-title">What data is included?</span>
        </div>
        <div class="col-3">
            <span class="table-title">Where is this data displayed?</span>
        </div>
        <div class="col-2">
            <span class="table-title">Retain for</span>
        </div>
        <div class="col-2">
            <span class="table-title">Size on disk</span>
        </div>
    </div>
    <div *ngFor="let index of getLoopCount(4); let i = index" style="border-bottom: 1px solid black;" class="row mt-4 p-3">
        <div class="col-2">
            <span class="table-title">Alert Data</span>
        </div>
        <div class="col-3">
            <span>Basic alert data, current alert status, comments and severity history</span>
        </div>
        <div class="col-3">
            <span>Basic alert data, current alert status, comments and severity history</span>
        </div>
        <div class="col-2">
            <select class="form-select" aria-label="Default select example">
                <option selected>2 Months</option>
                <option value="1">4 Months</option>
                <option value="2">6 Months</option>
                <option value="3">8 Months</option>
              </select>
        </div>
        <div class="col-2">
            <span>50 MB</span>
        </div>
    </div>
</div>
