<div style="background-color: #f1eeee;">
    <div class="row mt-1">
        <div class="col-1 mt-2">
            <div>
                <strong style=" margin-left: 50px; font-weight: 900; font-size: larger;">14</strong>
                <br>
                <strong style=" margin-left: 30px; font-weight: 900; font-size: larger;" >Instance</strong>
              </div>
        </div>
        <div class="col-3 mt-3">
            <div style="margin-left: 15px;" class="input-group mb-3">

                <span class="input-group-text" id="addon-wrapping"></span>
                <input type="text" class="form-control" placeholder="Filter By Name" aria-label="Username" aria-describedby="basic-addon1">
              </div>
        </div>
        <div class="col-3 mt-3">
            <select  class="form-select" aria-label="Default select example">
                <option selected>All Status</option>
              </select>
        </div>
        <div class="col-3 mt-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>All Groups</option>
              </select>
        </div>
        <div class="col-2 mt-3">
            <select class="form-select" aria-label="Default select example">
                <option selected>All Base Monitors</option>
              </select>
        </div>
    </div>
    <div class="row m-2 mt-3">
        <div class="col-4">
            <span style="font-size: large; font-weight: bold;">Group By </span>
            <div style="border: 1px solid black;" class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn" [class.btn-success]="selectedGroup === 'server'" (click)="selectTab('server')">Server Group</button>
                <button type="button" class="btn" [class.btn-success]="selectedGroup === 'health'" (click)="selectTab('health')">Health Status</button>
              </div>
        </div>
        <div class="col-4">
            <span style="font-size: large; font-weight: bold;">Order By </span>
            <div style="border: 1px solid black;" class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn" [class.btn-success]="selectedOrder === 'name'" (click)="selectOrder('name')">Name</button>
                <button type="button" class="btn" [class.btn-success]="selectedOrder === 'severity'" (click)="selectOrder('severity')">Severity</button>
              </div>
        </div>
        <div class="col-4">
            <button style="background-color: #28C76F; margin-left: 8rem;" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Add Monitored Server</button>
        </div>
        <div class="col-12">
            <hr>
        </div>
        <div style="padding: 5px;" class="row alert">
            <div class="col-8">
                <img src="./assets/danger-yellow.png">
                7095 active alerts on the dashboard are now over a week old .
            </div>
            <div class="col-4">
                <span style="color: #28C76F; margin-left: 5.5vw;">Clear all</span>
                <span style="color: #28C76F; margin-left: 3vw;">View alerts</span>
                <button style="margin-left: 3.2rem; margin-top: 3px;" type="button" class="btn-close" aria-label="Close"></button>
            </div>

        </div>
        <div style="padding: 5px;" class="row alert">
            <div class="col-8">
                <img src="./assets/danger-blue.png">
                You can add new database.
            </div>
            <div class="col-4">
                <span style="color: #28C76F; margin-left: 11rem;">Update Catalog</span>
                <button style="margin-left: 1rem; margin-top: 3px;" type="button" class="btn-close" aria-label="Close"></button>
            </div>
        </div>
        <div class="row">
            <div class="col-10 serverGroup-container">
                    <div class="row">
                        <div class="col-12">
                            <span class="serverGroup-title">Server</span>
                        </div>
                        <div class="col-12">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                  <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Production (5)
                                    </button>
                                  </h2>
                                  <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                      <div class="row">
                                        <div class="col-4">
                                            <div class="server-container">
                                                <div class="server-title">
                                                    <img class="server-img" src="./assets/database-cloud.png">
                                                    <span class="server-name">ADO1</span>
                                                    <img style="margin-left: 15rem; margin-top: 1.8rem;" src="./assets/three-dots.png">
                                                </div>
                                                <div class="server-notification-alert">
                                                    <img class="server-img" src="./assets/alert-white.png">
                                                    <span style="color: white; " class="server-name">Status : Warning</span>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 mt-4">
                                                        <div>
                                                            <span style="margin-left: 1.5vw;">39G</span>
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 13px; margin-left: 6px; color: #6E6B7B;">Partition C: </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 mt-4">
                                                        <div>11%</div>
                                                        <div>
                                                            <span style="font-size: 13px; margin-left: 1px; color: #6E6B7B;">CPU</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 mt-4">
                                                        <div>5 GB</div>
                                                        <div>
                                                            <span style="font-size: 13px; margin-left: 1px; color: #6E6B7B;">physical memory</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="server-container">
                                                <div class="server-title">
                                                    <img class="server-img" src="./assets/database-cloud.png">
                                                    <span class="server-name">ADO2</span>
                                                    <img style="margin-left: 15rem; margin-top: 1.8rem;" src="./assets/three-dots.png">
                                                </div>
                                                <div class="server-notification-alert">
                                                    <img class="server-img" src="./assets/alert-white.png">
                                                    <span style="color: white; " class="server-name">Status : Warning</span>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 mt-4">
                                                        <div>
                                                            <span style="margin-left: 1.5vw;">39G</span>
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 13px; margin-left: 6px; color: #6E6B7B;">Partition C: </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 mt-4">
                                                        <div>11%</div>
                                                        <div>
                                                            <span style="font-size: 13px; margin-left: 1px; color: #6E6B7B;">CPU</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 mt-4">
                                                        <div>5 GB</div>
                                                        <div>
                                                            <span style="font-size: 13px; margin-left: 1px; color: #6E6B7B;">physical memory</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="server-container">
                                                <div class="server-title">
                                                    <img class="server-img" src="./assets/database-cloud.png">
                                                    <span class="server-name">A-RDTO</span>
                                                    <img style="margin-left: 15rem; margin-top: 1.8rem;" src="./assets/three-dots.png">
                                                </div>
                                                <div class="server-notification-alert">
                                                    <img class="server-img" src="./assets/alert-white.png">
                                                    <span style="color: white; " class="server-name">Status : Warning</span>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 mt-4">
                                                        <div>
                                                            <span style="margin-left: 1.5vw;">39G</span>
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 13px; margin-left: 6px; color: #6E6B7B;">Partition C: </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 mt-4">
                                                        <div>11%</div>
                                                        <div>
                                                            <span style="font-size: 13px; margin-left: 1px; color: #6E6B7B;">CPU</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 mt-4">
                                                        <div>5 GB</div>
                                                        <div>
                                                            <span style="font-size: 13px; margin-left: 1px; color: #6E6B7B;">physical memory</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 mt-3">
                                            <div class="server-container">
                                                <div class="server-title">
                                                    <img class="server-img" src="./assets/database-cloud.png">
                                                    <span class="server-name">ADO1</span>
                                                    <img style="margin-left: 15rem; margin-top: 1.8rem;" src="./assets/three-dots.png">
                                                </div>
                                                <div style="background-color: #F93737;" class="server-notification-alert">
                                                    <img class="server-img" style="width: 25px;" src="./assets/critical-icon.png">
                                                    <span style="color: white; margin-left: 5px; " class="server-name">Status : Critical</span>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 mt-4">
                                                        <div>
                                                            <span style="margin-left: 1.5vw;">39G</span>
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 13px; margin-left: 6px; color: #6E6B7B;">Partition C: </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 mt-4">
                                                        <div>11%</div>
                                                        <div>
                                                            <span style="font-size: 13px; margin-left: 1px; color: #6E6B7B;">CPU</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 mt-4">
                                                        <div>5 GB</div>
                                                        <div>
                                                            <span style="font-size: 13px; margin-left: 1px; color: #6E6B7B;">physical memory</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-4 mt-3">
                                            <div class="server-container">
                                                <div class="server-title">
                                                    <img class="server-img" src="./assets/database-cloud.png">
                                                    <span class="server-name">AD02</span>
                                                    <img style="margin-left: 15rem; margin-top: 1.8rem;" src="./assets/three-dots.png">
                                                </div>
                                                <div style="background-color: #28C76F;" class="server-notification-alert">
                                                    <img class="server-img" src="./assets/alert-white.png">
                                                    <span style="color: white; " class="server-name">Status : Critical</span>
                                                </div>
                                                <div class="row">
                                                    <div class="col-4 mt-4">
                                                        <div>
                                                            <span style="margin-left: 1.5vw;">39G</span>
                                                        </div>
                                                        <div>
                                                            <span style="font-size: 13px; margin-left: 6px; color: #6E6B7B;">Partition C: </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 mt-4">
                                                        <div>11%</div>
                                                        <div>
                                                            <span style="font-size: 13px; margin-left: 1px; color: #6E6B7B;">CPU</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-4 mt-4">
                                                        <div>5 GB</div>
                                                        <div>
                                                            <span style="font-size: 13px; margin-left: 1px; color: #6E6B7B;">physical memory</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                
                        </div>
                    </div>
            </div>
        </div>
        
    </div>
    <div class="row mt-3">

    </div>
    <div class="row">
        <div class="col-10 serverGroup-container">
                <div class="row">
                    <div class="col-12">
                        <span class="serverGroup-title">Database</span>
                    </div>
                    <div class="col-12">
                        <div class="accordion" id="accordionExample2">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  Azure Database (1)
                                </button>
                              </h2>
                              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample2">
                                <div class="accordion-body">
                                  <div class="row">
                                    <div class="col-4">
                                        <div class="server-container">
                                            <div class="server-title">
                                                <img class="server-img" style="width: 25px;" src="./assets/database-icon.png">
                                                <span class="server-name">sqm - sqlmonitor</span>
                                                <img style="margin-left: 15rem; margin-top: 1.8rem;" src="./assets/three-dots.png">
                                            </div>
                                            <div class="server-notification-alert">
                                                <img class="server-img" src="./assets/alert-white.png">
                                                <span style="color: white; " class="server-name">Status : Warning</span>
                                            </div>
                                            <div class="row">
                                                <div class="col-3 mt-4">
                                                    <div>
                                                        <span style="margin-left: 1.5vw;">20%</span>
                                                    </div>
                                                    <div>
                                                        <span style="font-size: 13px; margin-left: 6px; color: #6E6B7B;">DTU</span>
                                                    </div>
                                                </div>
                                                <div class="col-3 mt-4">
                                                    <div>20%</div>
                                                    <div>
                                                        <span style="font-size: 13px; margin-left: 1px; color: #6E6B7B;">CPU</span>
                                                    </div>
                                                </div>
                                                <div class="col-3 mt-4">
                                                    <div>5 GB</div>
                                                    <div>
                                                        <span style="font-size: 13px; margin-left: 1px; color: #6E6B7B;">physical memory</span>
                                                    </div>
                                                </div>
                                                <div class="col-3 mt-4">
                                                    <div>5 GB</div>
                                                    <div>
                                                        <span style="font-size: 13px; margin-left: 1px; color: #6E6B7B;">physical memory</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                    </div>
                </div>
        </div>
    </div>
</div>
<!-- modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Update Catalog</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12">
                <span style="color: #6E6B7B;">New Template</span>
            </div>
            <div class="col-6 mt-2">
                <select class="form-select" aria-label="Default select example">
                    <option selected>SQL Server</option>
                    <option value="1">Oracle</option>
                    <option value="2">Mariadb</option>
                  </select>
            </div>
            <div class="col-6 mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Select All
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Deselect All
                    </label>
                </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6 mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      CBP Adhesions
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      LibertyData
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      DataHarbor
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      OptiVault
                    </label>
                </div>
            </div>
            <div class="col-6 mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        NexGenSQL
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        SkyGrid
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        AriaNest
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Coda DB
                    </label>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button style="background-color: #28C76F;" class="btn btn-success" data-bs-dismiss="modal">Update</button>
        </div>
      </div>
    </div>
  </div>